<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ph.DriverPH.module.driver.mapper.DriverMapper">
    <select id="getDrivers" resultType="com.ph.DriverPH.module.driver.response.DriverResponse">
        select * from driver
    </select>

    <select id="addDriver">
        insert
        into
        driver (first_name, middle_name, last_name, company, date, driver_id)
        values (#{firstName,jdbcType=VARCHAR}, #{middleName,jdbcType=VARCHAR}, #{lastName,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{date,jdbcType=TIMESTAMP}, #{driverId,jdbcType=VARCHAR})
    </select>
    <select id="findDriverById" resultType="com.ph.DriverPH.module.driver.response.DriverResponse">
        select * from driver where driver_id = #{driverId,jdbcType=VARCHAR}
    </select>
    <select id="deleteDriverById" >
        delete from driver where driver_id = #{driverId,jdbcType=VARCHAR}
    </select>
</mapper>